extends /partials/layout

block content
  
  h1 #{city.name}
  img(src=`${city.image_url}`)
  ul
    each post in posts
      li
        h3 
          a(href=`/posts/${post.id}`) #{post.title}
        h5 by #{post.name} 
          span.relative-date #{date}
        
        p #{post.content}
        
