extends /partials/layout

block content
  .parallax.splash.img-fluid(style=`background-image:url(${city.image_url})`)
    .parallax-caption
      span.border #{city.name}
  .container.content-out-parralax
    .row
      if posts.length
        ul
          each post in posts
            li
              h3
                a(href=`/posts/${post.id}`) #{post.title}
              h5 by #{post.name}
                span.relative-date  #{relativeDate(post.date_posted)}
              if post.rating === 5
                h5 ⭐️⭐️⭐️⭐️⭐️
              if post.rating === 4
                h5 ⭐️⭐️⭐️⭐️
              if post.rating === 3
                h5 ⭐️⭐️⭐️ 
              if post.rating === 2
                h5 ⭐️⭐️
              if post.rating === 1
                h5 ⭐️    
              if post.content.length <= 400
                p #{post.content}  
              else
                p #{post.content.slice(0,400)}
                  a(href=`/posts/${post.id}`)  More
      else
        br
        br
        h5 There are no reviews about this city yet.
