extends /partials/layout

block content
    div.post
      div.edit-delete-buttons
        //- // Modal Trigger
        //- button.btn.modal-trigger(data-target='modal1') Modal
        button.btn-floating.modal-trigger.blue.btn-large(data-target='modal1')
          i.large.material-icons mode_edit
        //- // Modal Structure
        #modal1.modal.modal-fixed-footer
          .modal-content
            //- span.close-modal &times;
            form(action=`/posts/${post.id}?_method=PUT`, method="POST")
              div Title:
              if post.title === null        
                input(type="text" name="title")
              else
                input(type="text" name="title" value=`${post.title}`)    
                div You review:
              if post.content === null
                textarea(type="text" name="content")
              else 
                textarea(type="text" name="content") #{post.content} 
                br
                br 
                button.btn.waves-effect.waves-light(type='submit')
                  | Submit
                  i.material-icons.right send            
        br
        br            
        form(action=`/posts/${post.id}?_method=DELETE`, method="POST", onsubmit=`return confirm('Are you sure you want to delete "${post.title}"?')`)   
          button.btn-floating.red.btn-large
            i.large.material-icons delete 

      h1 #{post.title}
      h3 by #{user.name}
      
      p #{post.content}
      
    div.commentsDiv
      if isLoggedIn 
        form(action=`/posts/${post.id}/comments`, method="POST")
          input.comment-input(type="text" name="comment" placeholder="Write a comment...")
          input(type='submit', style='position: absolute; left: -9999px; width: 1px; height: 1px;', tabindex='-1')

      if  comments.length == 1
        button.comments-button #{comments.length} Comment
      else
        button.comments-button #{comments.length} Comments
      div.comments
        each comment in comments
          div.comment
            div.comment-paragraph
              form(action=`/posts/${post.id}/comments/${comment.id}?_method=DELETE`, method="POST").delete-comment
                button.delete-comment-button
                  i.fa.fa-trash(aria-hidden='true') 
                | 
              i.edit-comment-button.fa.fa-pencil-square-o(aria-hidden='true')  
              |  
              span.comment-paragraph-content
                strong #{comment.comment_author}: 
                | #{comment.comment}
              
              form(action=`/posts/${post.id}/comments/${comment.id}?_method=PUT`, method="POST").edit-comment-input
                input(type="text" name="comment" value=`${comment.comment}`)
                input(type="submit", value="Submit")
                
