extends /partials/layout

block content
  div(class='profile', id=`${user.id}`)
    div.left-column
      img.profile-pic(src=`${user.image_url}`, alt='')
      br
      br  
      input.uploadcare-file(type='hidden', role='uploadcare-uploader', name='my_file', data-crop='true')

      if user.name
        h4 #{user.name}
      else
        p Name:
        
      if user.date_joined
        p Member since #{humanReadableDate}
      else
        p Date Joined:
        
      if user.current_city
        i.fa.fa-home.fa-2x(aria-hidden='true')
        | 
        |
        span Lives in #{user.current_city}
      else
        p Current City:
      
      br
      br    
      div  
        button.edit-profile-button.btn-floating.modal-trigger.blue.btn-large(data-target='modal1', type="button")
          i.large.material-icons mode_edit
        
        
    div.right-column
      h3 Reviews:
      br
      - for (let city in posts) {
        h5 #{city}
          span(class='posts-length') (#{posts[city].length})
        - posts[city].forEach(post => {
          a(href=`/posts/${post.id}`) #{post.title}
          br
          br
        -})
      - }
    
    div
      #modal1.modal.modal-fixed-footer
        .modal-content
          form(action=`/users/${user.id}?_method=PUT`, method="POST")
            div.input-field.current-name
              if user.name === null       
                i.material-icons.prefix account_circle
                input#icon_prefix.validate(type="text", name="name")
                label(for='icon_prefix') Name
              else
                i.material-icons.prefix account_circle  
                input#icon_prefix.validate(type="text", name="name", value=`${user.name}`)
                label(for='icon_prefix') Name 
            div.input-field.current-city
              if user.current_city === null
                i.material-icons.prefix location_city
                input#icon_prefix.validate(type="text", name="currentCity")
                label(for='icon_prefix') City
              else 
                i.material-icons.prefix location_city
                input#icon_prefix.validate(type="text" name="currentCity" value=`${user.current_city}`)  
                label(for='icon_prefix') City
            button.btn.waves-effect.waves-light(type='submit').modal-submit
              | Submit
              i.material-icons.right send 
              
              
              
