extends /partials/layout

block content
  div(class='profile', id=`${user.id}`)
    div.left-column
      img(src=`${user.image_url}`)
      br
      br
      input.uploadcare-file(type='hidden', role='uploadcare-uploader', name='my_file', data-crop='true')
      div
        img.profile-pic(src='', alt='')

      if user.name
        h4 #{user.name}
      else
        p Name:
        
      if user.date_joined
        p Member since #{humanReadableDate}
      else
        p Date Joined:
        
      if user.current_city
        i.fa.fa-home(aria-hidden='true')  
        | 
        |
        span Lives in #{user.current_city}
      else
        p Current City:
      
      br
      br    
      div  
        button.edit-profile-button(type="button") Edit Profile
        
        
    div.right-column
      h3 Contributions:
      - for (let city in posts) {
        h4 #{city} 
          span(class='posts-length') (#{posts[city].length})
        - posts[city].forEach(post => {
          a(href=`/posts/${post.id}`) #{post.title}
          br
          br
        -})
      - }
        
      if numberOfCommentsLeft == 1
        p #{numberOfCommentsLeft} comment
      else
        p #{numberOfCommentsLeft} comments       
    
    div.edit-profile-modal
      div.edit-profile-modal-content
        span.close-modal &times;
        form(action=`/users/${user.id}?_method=PUT`, method="POST")
          div Name:
            if user.name === null        
              input(type="text" name="name")
            else
              input(type="text" name="name" value=`${user.name}`)    
          div Current City:
            if user.current_city === null
              input(type="text" name="currentCity")
            else 
              input(type="text" name="currentCity" value=`${user.current_city}`)  
          input(type="submit", value="Submit")
              
